.direnv
.vscode

result
.pre-commit-config.yaml

server/dist
server/dist-*
server/cabal-dev
server/*.o
server/*.hi
server/*.hie
server/*.chi
server/*.chs.h
server/*.dyn_o
server/*.dyn_hi
server/.hpc
server/.hsenv
server/.cabal-sandbox/
server/cabal.sandbox.config
server/*.prof
server/*.aux
server/*.hp
server/*.eventlog
server/.stack-work/
server/cabal.project.local
server/cabal.project.local~
server/.HTF/
server/.ghc.environment.*

client/logs
client/*.log
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
client/pnpm-debug.log*
client/lerna-debug.log*
client/node_modules
client/dist
client/dist-ssr
client/*.local
client/.direnv/
client/.vscode/*
client/!.vscode/extensions.json
client/.idea
client/.DS_Store
client/*.suo
client/*.ntvs*
client/*.njsproj
client/*.sln
client/*.sw?
client/result/
client/test-vm.nix
client/nixos.qcow2
